@import "elements.less";

/* Colour Scheme */
@background-color: #fff;
@foreground-color:#ffba00;
@nav-color: #ffba00;
@text-color: #000000;


html{
	height:100%;
	overflow-y: scroll;
}

body {
	/* Required */
	position:relative; /* IE8 */
	text-align:center; /* IE Center Block*/
	height:100%;
	
	min-width:1024px;
	
	/* Additional */
	background-color: @background-color;
    color: @text-color;	
	
	padding:0;
	margin:0;
	background-image:url('/static/img/noise.png');
	background-color:#eee;
}

section{
	/* Required */
	position:relative;
	text-align:left;
	margin: 0px auto;
	overflow:hidden;	/* This chops off any overhanging divs */
	
	/* Additional */
	max-width:900px;
	width:90%;	/* Leaves some breathing space */
	
	background: @foreground-color;
	padding:0.5em;
	padding-bottom:0em;
	.rounded(4px);	
	margin-bottom:1em;
	.drop-shadow(4px,4px,7px,0.5);
}

a {
    color:@text-color;
}
h1, h2, h3, h4, h5, h6 {
    color: @text-color;
}

#settings {
	padding:0;
	width:100%;
	background-color:#e0e0e0;
	.inner-shadow(0px, -4px, 4px, 0.5); 
	background-image:url('/static/img/noise.png');
}

nav {
	padding:0.2em;
	text-align:right;
	background-color:@nav-color;
	margin-bottom:1em;
	.drop-shadow(2px,2px,3px,0.5);
	.gradient(@nav-color,darken(@nav-color,5%),@nav-color);
}

#settingsbutton {
	padding:0.1em;
	.rounded(2px);
	text-decoration:none;
}
#settingsbutton:hover {
	/*color:#888;*/
	.drop-shadow(0px,0px,4px,0.6);
	transition: box-shadow 0.4s;
}

img {
	.rounded(10px);
}

.flag {
	opacity:0.3;
}

.flag:hover{
	opacity:1;	
}

.flag-active {
	opacity:1;
}

.tag-image{
	width:70%;
}
.tag-image-wrapper{
	.inner-shadow(2px,2px,5px,0.5);
	background-color:#fff;
	padding:1em;
	margin-bottom:1em;
}
.button {
	text-decoration:none;
	background-color:#fff;
	 border: 1px solid #444;
	 .rounded(5px);
	 padding:0.2em;
	 padding-left:0.4em;
	 padding-right:0.4em;
	 .inner-shadow(0px,0px,1px,0.3);
}
.button:hover{
	/*.inner-shadow(0px,0px,4px,0.5);*/
	background-color:#eee;
	.drop-shadow(0px,0px,4px,0.6);
}

.button:active{
	background-color:#ddd;
}

textarea {
	width:96%;
	.inner-shadow(2px,2px,5px,0.5);	
	border: 0px solid #999;
	font-family: Tahoma, sans-serif;
}

.input_hidden {
    position: absolute;
    left: -9999px;
}

.selected {
    opacity: 1 !important;
}

#sites label {
    display: inline-block;
    cursor: pointer;
	opacity:0.3;
}



#sites label:hover {
    opacity: 1;
}

#sites label img {
    padding: 3px;
    
}

#sites2 label {
    display: inline-block;
    cursor: pointer;
	opacity:0.3;
}



#sites2 label:hover {
    opacity: 1;
}

#sites2 label img {
    padding: 3px;
    
}

.hover{
	/*border: 3px solid @nav-color;*/
	.box-shadow(0px 0px 10px darken(@nav-color,40%));
	transition: box-shadow 0.5s;
}




#resultslist {
	background-color:#fff;
	padding:10px;
	padding-bottom:none;
}

#searchbox{
	padding:0.5em;
	.rounded(5px);
	border: 1px solid #444;
	transition: box-shadow 0.5s;
	.inner-shadow(0px,0px,1px,0.5);
}

#searchbox:focus{
	.inner-shadow(0px,0px,4px,0.6);
	transition: box-shadow 0.5s;
}

#invertbutton{
	padding:0.8em;
	padding-bottom:0.3em;
	cursor:default;
}

@media all and (min-width: 640px) {



.translatebar{
	text-align:center;
	width:40%;
	float:left;
}

#switch {
	margin-top:1.5em;
	text-align:center;
	width:20%;
	float:left;
}

#searchbox {
	margin-top:1.5em;
}

}

@media all and (max-width: 640px) {

#switch #invertbutton i:before{
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

#invertbutton{
	padding:0.4em;
	padding-top:1em;
	padding-bottom:0.5em;
	margin-bottom:1em;
	margin-top:0.5em;
	
}

.translatebar{
	
	float:none;
	text-align:center;
}

#sites2 {
	margin-top:1em;
}

#switch {
	float:none;
	text-align:center;
}

}
